<html>
    <head>
        <title>Password Generator</title>
    </head>
    <body>
        <h2>Password gen</h2>
        
        <form action="/pwd" method="post">
            <input type="number" name="count" id="count" placeholder="Count" /><br />
            <label for="special">Special Chars: </label>
            <input type="checkbox" name="special" id="special" /><br />
            <label for="leet">l33t</label>
            <input type="checkbox" name="leet" id="leet" /><br />
            <input type="submit" value="Generate Password!">
        </form>

    </body>
</html>
